<section id="hero">
  <div class="hero-container">
    <div id="heroCarousel" class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-interval="5000">

      <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

      <div class="carousel-inner" role="listbox">

        <!-- Slide 1 -->
        <div class="carousel-item active" style="background-image: url('static/img/slide/slide-1.jpg');">
          <div class="carousel-container">
            <div class="carousel-content container">
              <h2 class="animate__animated animate__fadeInDown">Yam's</h2>
              <p class="animate__animated animate__fadeInUp">Bienvenue sur notre site {{session.user}} <br>
                {%if session['connected']!=[]%}
                Utilisateurs en ligne : {%for name in session['connected'][0:-1]%}
                {{name}} -
                {%endfor%}
                {{session['connected'][-1]}}
                {%endif%}
              </p>
            </div>
          </div>
        </div>

        <!-- Slide 2 -->
        <div class="carousel-item" style="background-image: url('static/img/slide/slide-2.jpg');">
          <div class="carousel-container">
            <div class="carousel-content container">
              <h2 class="animate__animated animate__fadeInDown">Yam's</h2>
              <p class="animate__animated animate__fadeInUp">Bienvenue sur notre site {{session.user}} <br>
                {%if session['connected']!=[]%}
                Utilisateurs en ligne : {%for name in session['connected'][0:-1]%}
                {{name}} -
                {%endfor%}
                {{session['connected'][-1]}}
                {%endif%}
              </p>
            </div>
          </div>
        </div>

        <!-- Slide 3 -->
        <div class="carousel-item" style="background-image: url('static/img/slide/slide-3.jpg');">
          <div class="carousel-container">
            <div class="carousel-content container">
              <h2 class="animate__animated animate__fadeInDown">Yam's</h2>
              <p class="animate__animated animate__fadeInUp">Bienvenue sur notre site {{session.user}} <br>
                {%if session['connected']!=[]%}
                Utilisateurs en ligne : {%for name in session['connected'][0:-1]%}
                {{name}} -
                {%endfor%}
                {{session['connected'][-1]}}
                {%endif%}
              </p>
            </div>
          </div>
        </div>

        <!-- Slide 4 -->
        <div class="carousel-item" style="background-image: url('static/img/slide/slide-4.webp');">
          <div class="carousel-container">
            <div class="carousel-content container">
              <h2 class="animate__animated animate__fadeInDown">Yam's</h2>
              <p class="animate__animated animate__fadeInUp">Bienvenue sur notre site {{session.user}} <br>
                {%if session['connected']!=[]%}
                Utilisateurs en ligne : {%for name in session['connected'][0:-1]%}
                {{name}} -
                {%endfor%}
                {{session['connected'][-1]}}
                {%endif%}
              </p>
            </div>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
      </a>
      <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
      </a>
    </div>
  </div>
</section><!-- End Hero -->
<main id="main">
  <section id="tableau">
    <div class="container" data-aos="fade-up">
      <div class="col-lg-6 d-flex flex-column justify-content-center about-content">
        <div class="section-title">
          <h3>Scores</h3>
        </div>
      </div>
      <div>
        <table class="table text=centered mx-auto w-100">
          <tbody>
            <tr>
              <td class="text-center"><i class="fa-solid fa-ranking-star fa-2x"></i><br> Classement</td>
              <td class="text-center"><i class="fa-solid fa-person fa-2x"></i><br> Nom</td>
              <td class="text-center"><i class="fa-solid fa-calendar fa-2x"></i><br>Date</td>
              <td class="text-center"><i class="fa-solid fa-star fa-2x"></i><br>Score</td>
            </tr>
            {% for partie in parties%}
            <tr>
              {% for item in partie%}
              <td class="text-center">{{item}}</td>
              {% endfor%}
            </tr>
            {% endfor%}
          </tbody>
        </table>
      </div>
    </div>
  </section>

</main>