<main id="main">
  <section class="breadcrumbs">
    <div class="container">
      <div class="d-flex justify-content-between align-items-center">
        <h2><i class="fa-solid fa-user"></i> {{session['user']}}</h2>
        <ol>
          <li>
            <a href="/">Accueil</a>
          </li>
          <li>Jouer</li>
        </ol>
      </div>
    </div>
  </section>
  
  {%if session['user']!=''%}

  <div class="container">
    <div class="row">
      <div class="col-8">
        <table class="table text=centered mx-auto w-100">
          <tbody>
            <tr>
              <td>Dé 1</td>
              <td>Dé 2</td>
              <td>Dé 3</td>
              <td>Dé 4</td>
              <td>Dé 5</td>
            </tr>
            <tr>
              <img src="" alt="">
              <td><img src="static/img/images_des/{{session['des'][0]}}.jpg" alt="{{session['des'][0]}}"></td>
              <td><img src="static/img/images_des/{{session['des'][1]}}.jpg" alt="{{session['des'][1]}}"></td>
              <td><img src="static/img/images_des/{{session['des'][2]}}.jpg" alt="{{session['des'][2]}}"></td>
              <td><img src="static/img/images_des/{{session['des'][3]}}.jpg" alt="{{session['des'][3]}}"></td>
              <td><img src="static/img/images_des/{{session['des'][4]}}.jpg" alt="{{session['des'][4]}}"></td>
            </tr>
            <tr>
              <form class="w-75 mx-auto pt-3 pb-3" action="/lancer" method="GET">

                <td><input type="checkbox" name="0" id="0" value="0" /></td>
                <td><input type="checkbox" name="1" id="1" value="1" /></td>
                <td><input type="checkbox" name="2" id="2" value="2" /></td>
                <td><input type="checkbox" name="3" id="3" value="3" /></td>
                <td><input type="checkbox" name="4" id="4" value="4" /></td>

            </tr>
          </tbody>
        </table>
        {%if not session['fin']%}

        {%if session['lancer']<2 %} <button class="btn btn-outline-danger mx-auto w-100" type="submit">Lancer</button>
          {%else%}
          <button class="btn btn-outline-danger mx-auto w-100" type="submit" disabled="disabled">Choisisez une
            figure</button>

          {%endif%}
          {%else%}
          <button class="btn btn-outline-danger mx-auto w-100" type="submit" disabled="disabled">Fin de partie</button>

          {%endif%}

          </form>

          <form class="w-75 mx-auto pt-3 pb-3" action="/reset" method="GET">
            <button class="btn btn-outline-danger mx-auto w-100" type="submit">Nouvelle partie</button>
          </form>
          {%if session['fin']%}

          <form class="w-75 mx-auto pt-3 pb-3" action="/fin_score" method="GET">
            <button class="btn btn-outline-danger mx-auto w-100" type="submit">Fin du jeu - Enregistrer votre
              score</button>
          </form>
          {%endif%}

          {%if not session['lancer']<2 %} <form class="w-75 mx-auto pt-3 pb-3" action="/save_game" method="GET">
            <button class="btn btn-outline-danger mx-auto w-100" type="submit">Sauver la partie</button>
            </form>
            {%else%}
            <form class="w-75 mx-auto pt-3 pb-3" action="/save_game" method="GET">
              <button class="btn btn-outline-danger mx-auto w-100" type="submit" disabled="disabled">Lancez vos dés pour
                sauver : {{2-session['lancer']}} lancer à réaliser </button>
            </form>

            {%endif%}

            {%if session['in_dico']%}
            <form class="w-75 mx-auto pt-3 pb-3" action="/charger_game" method="GET">
              <button class="btn btn-outline-danger mx-auto w-100" type="submit">Charger la dernière partie</button>
            </form>
            {%endif%}

      </div>

      <div class="col-4">
        <form class="w-75 mx-auto pt-3 pb-3" action="/enregistrer" method="GET">
          <table class="table text=centered mx-auto w-100">
            <tbody>
              <tr>
                <td></td>
                <td><b>Figures</b></td>
                <td><b>Points</b></td>
                <td><b>Projections</b></td>
              </tr>
              <tr>
                <td>{%if session['figure_bool'][0][0]%}<input type="radio" name="figure" id="un" value="un" />{%endif%}
                </td>
                <td>As</td>
                <td>{{session['scores'][0][0]}}</td>
                <td>{%if session['figure_bool'][0][0]%}{{session['projection'][0][0]}}{%endif%}</td>
              </tr>
              <tr>
                <td>{%if session['figure_bool'][0][1]%}<input type="radio" name="figure" id="deux"
                    value="deux" />{%endif%}</td>

                <td>Deux</td>
                <td>{{session['scores'][0][1]}}</td>
                <td>{%if session['figure_bool'][0][1]%}{{session['projection'][0][1]}}{%endif%}</td>
              </tr>
              <tr>
                <td>{%if session['figure_bool'][0][2]%}<input type="radio" name="figure" id="trois"
                    value="trois" />{%endif%}</td>

                <td>Trois</td>
                <td>{{session['scores'][0][2]}}</td>
                <td>{%if session['figure_bool'][0][2]%}{{session['projection'][0][2]}}{%endif%}</td>
              </tr>
              <tr>
                <td>{%if session['figure_bool'][0][3]%}<input type="radio" name="figure" id="quatre"
                    value="quatre" />{%endif%}</td>

                <td>Quatre</td>
                <td>{{session['scores'][0][3]}}</td>
                <td>{%if session['figure_bool'][0][3]%}{{session['projection'][0][3]}}{%endif%}</td>
              </tr>
              <tr>
                <td>{%if session['figure_bool'][0][4]%}<input type="radio" name="figure" id="cinq"
                    value="cinq" />{%endif%}</td>

                <td>Cinq</td>
                <td>{{session['scores'][0][4]}}</td>
                <td>{%if session['figure_bool'][0][4]%}{{session['projection'][0][4]}}{%endif%}</td>
              </tr>
              <tr>
                <td>{%if session['figure_bool'][0][5]%}<input type="radio" name="figure" id="six"
                    value="six" />{%endif%}</td>

                <td>Six</td>
                <td>{{session['scores'][0][5]}}</td>
                <td>{%if session['figure_bool'][0][5]%}{{session['projection'][0][5]}}{%endif%}</td>
              </tr>
              <tr>
                <td><i class="fa-solid fa-plus"></i></td>

                <td><b>Sous total</b></td>
                <td>{{session['scores'][0][6]}}</td>
                <td><i class="fa-solid fa-plus"></i></td>
              </tr>
              <tr>
                <td><i class="fa-solid fa-plus"></i></td>

                <td><b>Prime</b></td>
                <td>{{session['scores'][0][7]}}</td>
                <td><i class="fa-solid fa-plus"></i></td>
              </tr>
              <tr>
                <td><i class="fa-solid fa-arrow-right"></i></td>

                <td><b>Total I</b></td>
                <td>{{session['scores'][0][8]}}</td>
                <td><i class="fa-solid fa-plus"></i></td>
              </tr>
              <tr>
                <td>{%if session['figure_bool'][1][0]%}<input type="radio" name="figure" id="sup"
                    value="sup" />{%endif%}</td>

                <td>Supérieur</td>
                <td>{{session['scores'][1][0]}}</td>
                <td>{%if session['figure_bool'][1][0]%}{{session['projection'][1][0]}}{%endif%}</td>
              </tr>
              <tr>
                <td>{%if session['figure_bool'][1][1]%}<input type="radio" name="figure" id="inf"
                    value="inf" />{%endif%}</td>

                <td>Inférieur</td>
                <td>{{session['scores'][1][1]}}</td>
                <td>{%if session['figure_bool'][1][1]%}{{session['projection'][1][1]}}{%endif%}</td>
              </tr>
              <tr>
                <td><i class="fa-solid fa-arrow-right"></i></td>

                <td><b>Total II</b></td>
                <td>{{session['scores'][1][2]}}</td>
                <td><i class="fa-solid fa-plus"></i></td>
              </tr>
              <tr>
                <td>{%if session['figure_bool'][2][0]%}<input type="radio" name="figure" id="carre"
                    value="carre" />{%endif%}</td>

                <td>Carré</td>
                <td>{{session['scores'][2][0]}}</td>
                <td>{%if session['figure_bool'][2][0]%}{{session['projection'][2][0]}}{%endif%}</td>
              </tr>
              <tr>
                <td>{%if session['figure_bool'][2][1]%}<input type="radio" name="figure" id="full"
                    value="full" />{%endif%}</td>

                <td>Full</td>
                <td>{{session['scores'][2][1]}}</td>
                <td>{%if session['figure_bool'][2][1]%}{{session['projection'][2][1]}}{%endif%}</td>
              </tr>
              <tr>
                <td>{%if session['figure_bool'][2][2]%}<input type="radio" name="figure" id="petite"
                    value="petite" />{%endif%}</td>

                <td>Petite Suite</td>
                <td>{{session['scores'][2][2]}}</td>
                <td>{%if session['figure_bool'][2][2]%}{{session['projection'][2][2]}}{%endif%}</td>
              </tr>
              <tr>
                <td>{%if session['figure_bool'][2][3]%}<input type="radio" name="figure" id="grande"
                    value="grande" />{%endif%}</td>

                <td>Grande Suite</td>
                <td>{{session['scores'][2][3]}}</td>
                <td>{%if session['figure_bool'][2][3]%}{{session['projection'][2][3]}}{%endif%}</td>
              </tr>
              <tr>
                <td>{%if session['figure_bool'][2][4]%}<input type="radio" name="figure" id="yams"
                    value="yams" />{%endif%}</td>

                <td>Yam's</td>
                <td>{{session['scores'][2][4]}}</td>
                <td>{%if session['figure_bool'][2][4]%}{{session['projection'][2][4]}}{%endif%}</td>
              </tr>
              <tr>
                <td><i class="fa-solid fa-arrow-right"></i></td>

                <td><b>Total III</b></td>
                <td>{{session['scores'][2][5]}}</td>
                <td><i class="fa-solid fa-plus"></i></td>
              </tr>
              <tr>
                <td><i class="fa-solid fa-arrow-right"></i></td>

                <td><b>Total Final</b></td>
                <td>{{session['scores'][2][6]}}</td>
                <td><i class="fa-solid fa-plus"></i></td>
              </tr>
            </tbody>
          </table>

          {%if not session['fin']%}

          <button class="btn btn-outline-danger mx-auto w-100" type="submit">Enregistrer</button>
          {%endif%}
      </div>
    </div>
  </div>


  </form>
  {%else%}
<br>
  <div class="container">
    <div class="row">
      <div class="col-4">

      </div>
      <div class="col-4">
        <i class="fa-solid fa-triangle-exclamation fa-2x"></i> Veillez vous connecter pour continuer<i
          class="fa-solid fa-triangle-exclamation fa-2x"></i>
      </div>
      <div class="col-4"></div>
    </div>
  </div>
<br>
  {%endif%}

</main>
<!-- End #main -->