<main id="main">
  <!-- ======= Breadcrumbs Section ======= -->
  <section class="breadcrumbs">
    <div class="container">
      <div class="d-flex justify-content-between align-items-center">
        <h2>Jouer</h2>
        <ol>
          <li>
            <a href="index.html">Accueil</a>
          </li>
          <li>Jouer</li>
        </ol>
      </div>
    </div>
  </section>
  <!-- End Breadcrumbs Section -->
  <section class="inner-page">
    <div class="container">
      <h3>Jouer :</h3>
    </div>
  </section>
  </main>
<!-- End #main -->
