<main id="main">
  <section class="breadcrumbs">
    <div class="container">
      <div class="d-flex justify-content-between align-items-center">
        <h2>Règles</h2>
        <ol>
          <li>
            <a href="/">Accueil</a>
          </li>
          <li>Règles</li>
        </ol>
      </div>
    </div>
  </section>
  <br>
    <div class="container">
      <div class="row">
        <div class="col-6">
          <h3>Règles</h3>
         <p> Chaque <b>joueur</b> lance les dés lorsque vient <b>son tour</b>.</p> 
         <p>Son but est, à l'aide des <b>cinq dés</b>, de réaliser une <b>figure</b>.</p>
         <p>Pour réaliser cette figure, il a le droit à <b>trois jets de dés par tour</b> et il est, à chaque jet,
          libre de relancer tous les dés ou juste <b>ceux de son choix</b>. </p>
          <p>Le joueur doit obligatoirement choisir une figure à la fin de son tour.</p>
          <p>Le gagnant est celui qui a fait <b>le plus de points</b>, certaines figures donnant des points
          supplémentaires si elles sont réussies.</p>
        </div>

        <div class="col-6">
          <table class="table">
            <tbody>
              <tr>
                <td><b>Combinaison</td> <b></b>
                <td><b>Points</td>
              </tr>
              <tr>
                <td>As</td>
                <td>1 × le nombre de dés 1 obtenus</td>
              </tr>
              <tr>
                <td>Deux</td>
                <td>2 × le nombre de dés 2 obtenus</td>
              </tr>
              <tr>
                <td>Trois</td>
                <td>3 × le nombre de dés 3 obtenus</td>
              </tr>
              <tr>
                <td>Quatre</td>
                <td>4 × le nombre de dés 4 obtenus</td>
              </tr>
              <tr>
                <td>Cinq</td>
                <td>5 × le nombre de dés 5 obtenus</td>
              </tr>
              <tr>
                <td>Six</td>
                <td>6 × le nombre de dés 6 obtenus</td>
              </tr>
              <tr>
                <td><b>Sous-total</b></td>
                <td><b>Somme des points obtenus ci-dessus</b></td>
              </tr>
              <tr>
                <td><b>Prime</b></td>
                <td><b>30 points si le sous-total est supérieur ou égal à 60 points</b></td>
              </tr>
              <tr>
                <td><b>Total I</b></td>
                <td><b>Somme du sous-total et de l'éventuelle prime</b></td>
              </tr>
              <tr>
                <td>Supérieur</td>
                <td>Somme des dés</td>
              </tr>
              <tr>
                <td>Inférieur</td>
                <td>Somme des dés</td>
              </tr>
              <tr>
                <td><b>Total II</b></td>
                <td><b>(Supérieur –
                    Inférieur) × nb As</b></td>
              </tr>
              <tr>
                <td>Carré (Quatres dés identiques)</td>
                <td>40 points + somme des dés</td>
              </tr>
              <tr>
                <td>Full (Trois + deux dés
                  identiques</td>
                <td>30 points + somme des dés</td>
              </tr>
              <tr>
                <td>Petite suite (Suite de 4 dés)</td>
                <td>45 points</td>
              </tr>
              <tr>
                <td>Grande suite Suite de 5 dés</td>
                <td>50 points</td>
              </tr>
              <tr>
                <td>Yam's (Cinq dés identiques)</td>
                <td>50 points + Total de dés</td>
              </tr>
              <tr>
                <td><b>Total III</b></td>
                <td><b>Somme des cases ci-dessus</b></td>
              </tr>
              <tr>
                <td><b>Total</b></td>
                <td><b>Total I+II+III</b></td>
              </tr>

            </tbody>
          </table>
        </div>
      </div>

</main>